<DOCTYPY html>
    <html  xmlns:th="http://thymelaf.org">
    <html>
    <head>
        <title>Blog Modelo</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    </head>
    <body>
    <header>
        <th:block th:include="nav"> </th:block>
    </header>
    <section>
        <div class="container" style="width: 60%; padding-bottom: 30px; padding-top: 26px;">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active" aria-current="page">Home</li>
                </ol>
            </nav>
                </div>

    </section>
    <footer>

    </footer>
    </body>

    </html>